*{
    margin:0px;
    padding:0px;
}
.App{
    height:100vh;
    width:100vw;
    background-color: rgba(212, 25, 25, 0.138);
}

#recipe-page{
    height:100vw;
    width:100vw; 
    border-width: 2px;
    border-color: red;
    border-style: solid;
    display: flexbox;
    flex-direction: column;
    
}

#cart{
    width: 75vw;
    height: 250px;
    border-width: 2px;
    border-color: orange;
    border-style: solid;
}

.recipe{
    display: flexbox;
    width: 200px;
    height:250px;
    float:left;
    margin:1rem;
    padding:1rem;
    border-style: ridge;
    border-color: rgb(86, 109, 8);
    background-color: rgb(234, 234, 234);
    margin-left: 2rem;
}

.recipe > img{
    height:175px;
    padding-left: 1rem;
}

.recipe > figcaption{
    padding-left: 3rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }
  
  .logo img {
    width: 165px;
    height: 75px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
  }

  .cartlogo {
    margin-right: 2rem;
  }

#searchbar{
    margin-left: 50%;
    margin-right: auto;
}

.buttons{
    padding: 0.25rem;
    margin-top:1rem;
    margin-left:1rem;
}

 




